# Add these env variables by creating a .env file in the root of your project and copying the contents of this file into it. Then, fill in the values for each variable as needed.

DATABASE_URL=""

AUTH_SECRET="" 

AUTH_GITHUB_ID = 
AUTH_GITHUB_SECRET = 

AUTH_GOOGLE_ID = 
AUTH_GOOGLE_SECRET = 